.yellowButton {
    background-color: #deb887;
    color: #f6f6f6;
}

.redButton {
    background-color: #a52a2a;
    color: #f6f6f6;
}

.greenButton {
    background-color: green;
    color: #f6f6f6;
}
